/*  CSS file  */
/* Title  SUPPORT_style.css
  @author: Reese Rogers
  creation date: 10/31/2018
			*/
header {
	font-size: 3em;
	text-align: center;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #333;
	height: 100%;
	position: fixed;
	overflow: auto;
}
li a {
	display: block;
	color: white;
	padding: 8px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
	color: white;
}
.navi {
	font-size: 2em;
}
.flex {
	display: flex;
}
aside {
	text-align: center;
	flex: 1 1 49%;
	background-color: #f1f1f1;
	margin: 0 1% 0 20%;
	padding: 0 1% 0 1%;
	border-radius: 3px;
	font-size: 1em;
}
footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
	background-color: #333;
	color: white;	
}
a {
	text-decoration: none;
	color: white;
}
.title {
	width: 15%;
	position: absolute;
	top: .1em;
	left: .1em;
	background-color: transparent;
	color: white;
	font-size: 4em
}