/*  CSS file  */
/* Title  main_style.css
  @author: Reese Rogers
  creation date: 10/31/2018
			*/
html {
	background-color: #7D818C;
}
.banner {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
/* .top-left {
	position: absolute;
	top: 1em;
	left: 1em;
	position: relative;
	color: white;
} */
.container {
	position: relative;
	font-family: Arial;
}
.title {
	width: 60%;
	position: absolute;
	top: .5em;
	left: .5em;
	background-color: transparent;
	color: white;
	font-size: 4em
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0 8em 0 8em;
	font-size: 130%;
    overflow: hidden;
    background-color: #333;
}
li {
	float: left;
	overflow: auto;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.flex {
	display: flex;
}
aside {
	text-align: center;
	flex: 1 1 49%;
	background-color: white;
	margin: 1%;
	padding: 1%;
	border-radius: 3px;
	font-size: 2em;
}
img {
	width: 100%;
}
a {
	color: black;
	text-decoration: none;
}
.sale {
	color: red;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
footer {
	position: fixed;
	text-align: center;
	width: 100%;
	bottom: 0;
	background-color: #333;
	color: white;	
}